{{ project_name }}
{{ '=' * project_name|length }}

{{ project_short_description }}

Release notes are in the `changelog <https://github.com/{{ github_username }}/{{ repository_name }}/blob/main/CHANGELOG.md>`_.

.. toctree::
   :maxdepth: 2

   installation
   usage
   api
   contributing
